<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<bean name="Add" class="com.Spring.spring_demo.model.Address">
<constructor-arg name="city" value="Indore"/>
<constructor-arg name="state" value="MP"/>
</bean>

<bean name="theEmployee" class="com.Spring.spring_demo.model.Employee">
<constructor-arg name="id" value="100"/>
<constructor-arg name="firstName" value="ssss"/>
<constructor-arg name="lastName" value="ssss"/>
<constructor-arg name="email" value="gg"/>
<constructor-arg name="add" ref="Add"/>
</bean>


<context:component-scan base-package="com.Spring.spring_demo.model"></context:component-scan>
<context:component-scan base-package="com.Spring.spring_demo.model"></context:component-scan>
</beans>
