<div class="main_div">
    <div class="header">
        <div class="h0">
            <img src="../favicon.ico" />
        </div>
        <div class="h1">
            Fitness Tracker
        </div>
        <div class="h">
            Already a member? <a routerLink='../login' class="btn btn-primary">Log in</a>
        </div>
    </div>
    <div class="content">
        <div class="c1">
            <div class="c1_up">
                <div class="c1_up_1"></div>
                <div class="c1_up_2"><a routerLink='../signup' class="btn btn-default">Let's Start!</a></div>
            </div>
            <div class="c1_down">
                <div class="c1_down_1">
                    <h1>Exercise and Routines</h1>

                </div>
                <div class="c1_down_2">
                    <h1>Healthy Meals</h1>

                </div>
            </div>
        </div>
        <div class="c2">
            <div class="c2_up text-center">
                <h1>How Does Fitness Tracker Help Me?</h1>
                <p> GET YOUR VERY OWN PERSONAL TRAINER THAT PROVIDES EVERYTHING YOU NEED TO GET IN THE BEST SHAPE OF YOUR LIFE.</p>
            </div>
            <div class="c2_mid">
                <div class="c2_mid_1">
                    <h3 class="text-center">FITNESS ASSESSMENT</h3>
                    <p class="text-center"> Your expert coach will take you through an assessment in order to create your personal plan for success. Whether you're a beginner or an experienced athlete, we have a coach for you.</p>
                </div>
                <div class="c2_mid_2">
                    <h3 class="text-center">NUTRITIONAL SUCCESS</h3>
                    <p class="text-center"> You'll get a personalized nutrition plan built specifically for your needs. No more guesswork, no more stress. You'll learn how to eat on your own terms while establishing healthy habits.</p>
                </div>
            </div>
            <div class="c2_down">
                <div class="c2_down_1">
                    <h3 class="text-center">WORKOUTS</h3>
                    <p class="text-center"> We build the workouts for you, you follow them and get results. The Fitness Tracker mobile app will take you through each expert-built workout, set by set.</p>
                </div>
                <div class="c2_down_2">
                    <h3 class="text-center">MOTIVATION & ACCOUNTABILITY</h3>
                    <p class="text-center"> Your coach works with you on a daily basis to keep you motivated and on track. They're your secret weapon to hit any goal, no matter what it is.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cost">
        <div class="cost_1">
            <h1 class="text-center">How Much Does It Cost?</h1>
            <h4 class="text-center">PROFESSIONAL TRAINING FROM THE WORLD’S BEST COACHES STARTS FOR AS LITTLE AS Rs.5000/month</h4>
        </div>
        <div class="cost_2">
            <h1 class="text-center"> Free</h1>
            <p>0</p>&nbsp;
            <h3>Rs.</h3>
            <ul>

                <li>Get free workouts for any goal and experience level</li>
                <li>Get free meal plan. No need to guess</li>
                <li>View progress on any exercise with interactive charts</li>
                <li>Read daily articles and tips from our Knowledge Center</li>

            </ul>

            <br> <br> <br> <br>
            <hr class="hr">
            <a routerLink='../signup' class="join btn btn-primary">Join Now</a>
            <br>
            <br>
        </div>
        <div class="cost_3">
            <h1 class="text-center"> Coaching</h1>
            <p>5000</p>&nbsp;
            <h3>Rs. &nbsp;/Month</h3>
            <ul>
                <li>Get everything included in Fitness Tracker and...</li>
                <li>Select a coach who can help you reach your goals</li>
                <li>Get a customized nutrition plan built for you</li>
                <li>Follow workouts made specifically for you</li>
                <li>Receive daily accountability and personalized guidance from your coach to make sure you're on track</li>
                <li>Get help from your coach any time you need it</li>
            </ul>
            <br>
            <hr>
            <a routerLink='../signupPaid' class="join btn btn-primary">Hire a Coach</a>
            <br>
            <br>
        </div>

    </div>
    <div class="footer">
        <h4>@Copyright Fitness Tracker 2019</h4>
    </div>
</div>